.shop {
    &__sort {
        display: flex;
        justify-content: space-between;
    
        width: 500px;
        margin: 40px auto;
    }
    
    &__items {
        display: flex;
        flex-wrap: wrap;
    
        margin: 100px 50px 0 50px;
    }
    &__item {
        flex-basis: 33%;
    
        transition: .5s;
        cursor: pointer;
        position: relative;
    }
    &__item-inner {
        display: block;

        width: 100%;
        padding-bottom: 100px;
    
        transition: .5s;
        img {
            width: 100%;
        }
    }
    &__item:hover &__item-inner {
        transform: scale(1.1);
    
        box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
        background-color: #FFFFFF;
    }
    &__item:hover &__item-descr {
        display: block;
    }
    &__item-descr {
        display: none;
    
        text-align: center;
        font-weight: 500;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__item-title {
        font-size: 25px;
        text-transform: uppercase;
    }
    &__item-cost {
        font-size: 18px;
        color: #fa5b2f;
    
        margin-top: 10px;
    }
}