.product {
    height: 100vh;
    padding-top: 150px;

    background-image: linear-gradient(white, white);
    background-size: 50% auto;
    background-position: right;
    background-repeat: no-repeat;
    &__item {
        display: flex;
        align-items: center;
    }
    &__galery {
        width: 50%;
    }
    &__galery-inner {
        width: 70%;
        margin: 0 auto;
    }
    &__galery img {
        width: 100%;
    }
    &__more-img {
        display: flex;

        margin: 0 80px;
        img {
            width: 25%;
        }
    }
    &__sub-img {
        margin: 25px;

        border: 1px rgb(121, 121, 121) solid;

        cursor: pointer;
    }
    &__descr {
        width: 25%;
        margin: 0 auto;
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: 2px;
    }
    &__button {
        display: block;

        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: #fff;

        width: 100%;
        padding: 10px;
        margin-top: 30px;

        background-color: #15171f;
        border: 3px #15171f solid;

        transition: .5s;
        cursor: pointer;
    }
    &__button:hover {
        color: #000;

        background-color: #fff;
    }
}