// Libs
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

// Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: 'Oswald';

    background-color: #f5f5f5;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style-type: none;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}