.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 25px;

  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 0;
  z-index: 2;
  &__logo {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__info {
    display: flex;
    gap: 10px;
  }
  &__log-out-button {
    cursor: pointer;
  }
  &__button-menu,
  &__button-globe {
    width: 25px;
    height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  &__languages-list {
    position: relative;
  }
  &__button-globe {
    border: none;
    background: #fff;
    color: rgb(43, 43, 175);
  }
  &__languages {
    position: absolute;
    right: 0;
    border: 1px #000 solid;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
  }
  &__languages-item {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px 50px;
    border: none;
    background: #fff;
    cursor: pointer;
    &:hover {
      background: #ccc;
    }
  }
  &__cart {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .header {
    &__cart {
      margin: 0 10px;
    }
    &__logo {
      display: none;
    }
  }
}
