.sign-in {
    width: 500px;
    margin: 150px auto 0;
    &__registration-button {
        display: block;
        text-decoration: underline;
        margin-top: 10px;
        &:hover {
            text-decoration: none;
        }
    }
}