.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 150px 20px;
  &__form {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding: 100px 20px;
  }
}
