.admin-catalog {
  display: flex;
  align-items: flex-start;
  padding: 50px;
  &__setting {
    width: 300px;
    padding: 10px 20px;
    margin: 25px;
    border: 1px rgb(184, 184, 184) solid;
    border-radius: 10px;
    h2 {
      font-size: 16px;
      font-weight: 400;
      margin-top: 20px;
    }
    &-search {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 1px #000 solid;
    }
    &-list {
      padding: 0 40px;
      li {
        font-weight: 300;
        margin: 5px 0;
        cursor: pointer;
      }
    }
  }
}
.active {
  font-weight: 400 !important;
}
