.nav {
    display: none;
    
    height: 100vh;

    background-color: #15171f;

    overflow: hidden;

    position: fixed;
    top: 0;
    z-index: 2;
    &__button-close {
        font-size: 25px;
        color: #fff;

        position: absolute;
        top: 25px;
        right: 40px;
        cursor: pointer;
    }
    & ul {
        margin-top: 100px;
    }
    & li {
        display: block;
        
        padding: 0 150px 0 100px;
    }
    & a {
        font-size: 40px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
    }
    & a:hover {
        color: #fa5b2f;
    }
}
.show {
    display: block;
} 
.back-bg {
    width: 100%;
    height: 100vh;

    background: #000;
    opacity: .6;

    position: fixed;
    top: 0;
    z-index: 1;
}